<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@{view.title}</title>
        <link rel="stylesheet" href="/static/css/pico_classless.css" />
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <style>
            body > main {
                padding: 4rem 6rem;
            }
            h2 {
                margin-top: 2rem;
            }
        </style>
    </head>
   
    <body>

        @{view.main.html()}
        
    </body>
</html>