<style>
    .bg_earn3 {
        background-color: #F9F8F6;
    }

    .bg-boxs3 {
        background-color: #EFEDEB;
    }
</style>
<h1>{{ subject }}</h1>
<div class="relative px-4 sm:px-6 lg:pb-28 lg:px-8 bg_earn3">
    <div class="relative max-w-7xl mx-auto">
        <div class="grid gap-5 max-w-lg mx-auto lg:grid-cols-3 lg:max-w-none">

            <div class="flex flex-col pb-10 rounded-lg shadow-lg overflow-hidden bg-boxs3">
                <div class="flex-shrink-0">
                    <img class="mx-auto object-cover" src="/images/education.png" alt="" />
                </div>
                <div class="flex-1 p-6 flex flex-col justify-between text-center">
                    <div class="flex-1">
                        <h2 class="uppercase">FREEFLOWING<br> EDUCATION</h2>
                        <div class="mt-3 leading-6 text-gray-900 text-2xl max-w-sm">All citizens can now acquire information and learn skills.</div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col pb-10 rounded-lg shadow-lg overflow-hidden bg-boxs">
                <div class="flex-shrink-0">
                    <img class="mx-auto object-cover" src="/images/empowerment.png" alt="" />
                </div>
                <div class="flex-1 p-6 flex flex-col justify-between text-center">
                    <div class="flex-1">
                        <h2 class="uppercase">FREEFLOWING<br> EMPOWERMENT</h2>
                        <div class="mt-3 leading-6 text-gray-900 text-2xl max-w-sm">All citizens can now attain the opportunity to participate in the digital economy.</div>
                    </div>
                </div>
            </div>


            <div class="flex flex-col pb-10 rounded-lg shadow-lg overflow-hidden bg-boxs">
                <div class="flex-shrink-0">
                    <img class="mx-auto object-cover" src="/images/collaboration.png" alt="" />
                </div>
                <div class="flex-1 p-6 flex flex-col justify-between text-center">
                    <div class="flex-1">
                        <h2 class="uppercase">FREEFLOWING<br> COLLABORATION</h2>
                        <div class="mt-3 leading-6 text-gray-900 text-2xl max-w-sm">All citizens can now work together to achieve goals and growth.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>