<div class="container px-4 sm:px-6 lg:pb-28 lg:px-8 mx-auto">
    
        <div class="grid gap-3 max-w-lg mx-auto lg:grid-cols-2 lg:max-w-none">

            <div class="flex flex-row flex-wrap mx-4 sm:mx-0 py-2">
                <div class="w-full md:w-2/6 mx-auto sm:mx-0">
                    <img class="mx-auto" src="/images/meet.png" alt="" />
                </div>
                <div class="w-full md:w-4/6 text-center md:text-left md:pl-2 justify-center">
                        <h2 class="uppercase text-5xl">Meet & Communicate</h2>
                        <p class="leading-6 text-gray-900 text-xl max-w-sm">Chat with your friends, hold meetings and and have video conferencing.</p>
                </div>
            </div>

            <div class="flex flex-row flex-wrap mx-4 sm:mx-0 py-2">
                <div class="w-full md:w-2/6 mx-auto sm:mx-0">
                    <img class="mx-auto" src="/images/exchange.png" alt="" />
                </div>
                <div class="w-full md:w-4/6 text-center md:text-left md:pl-2 justify-center">
                        <h2 class="uppercase text-5xl">Exchange & Store Money</h2>
                        <p class="leading-6 text-gray-900 text-xl max-w-sm">Transact or manage your assets using the wallet features available with the Twin.</p>
                </div>
            </div>

            <div class="flex flex-row flex-wrap mx-4 sm:mx-0 py-2">
                <div class="w-full md:w-2/6 mx-auto sm:mx-0">
                    <img class="mx-auto" src="/images/create.png" alt="" />
                </div>
                <div class="w-full md:w-4/6 text-center md:text-left md:pl-2 justify-center">
                        <h2 class="uppercase text-5xl">Create</h2>
                        <p class="leading-6 text-gray-900 text-xl max-w-sm">Create videos, documents or anything else you require for your daily needs.</p>
                </div>
            </div>

            <div class="flex flex-row flex-wrap mx-4 sm:mx-0 py-2">
                <div class="w-full md:w-2/6 mx-auto sm:mx-0">
                    <img class="mx-auto" src="/images/organize.png" alt="" />
                </div>
                <div class="w-full md:w-4/6 text-center md:text-left md:pl-2 justify-center">
                        <h2 class="uppercase text-5xl">Organize</h2>
                        <p class="leading-6 text-gray-900 text-xl max-w-sm">Archive and organize all your data in one place without worrying about security.</p>
                </div>
            </div>

            <div class="flex flex-row flex-wrap mx-4 sm:mx-0 py-2">
                <div class="w-full md:w-2/6 mx-auto sm:mx-0">
                    <img class="mx-auto" src="/images/share.png" alt="" />
                </div>
                <div class="w-full md:w-4/6 text-center md:text-left md:pl-2 justify-center">
                        <h2 class="uppercase text-5xl">Share</h2>
                        <p class="leading-6 text-gray-900 text-xl max-w-sm">Send your data and files to anyone of your choice directly without central servers.</p>
                </div>
            </div>

            <div class="flex flex-row flex-wrap mx-4 sm:mx-0 py-2">
                <div class="w-full md:w-2/6 mx-auto sm:mx-0">
                    <img class="mx-auto" src="/images/publish.png" alt="" />
                </div>
                <div class="w-full md:w-4/6 text-center md:text-left md:pl-2 justify-center">
                        <h2 class="uppercase text-5xl">Publish</h2>
                        <p class="leading-6 text-gray-900 text-xl max-w-sm">Build websites, librariies or whatever else you require with the FreeFlow Twin.</p>
                </div>
            </div>

            <div class="flex flex-row flex-wrap mx-4 sm:mx-0 py-2">
                <div class="w-full md:w-2/6 mx-auto sm:mx-0">
                    <img class="mx-auto" src="/images/discover.png" alt="" />
                </div>
                <div class="w-full md:w-4/6 text-center md:text-left md:pl-2 justify-center">
                        <h2 class="uppercase text-5xl">Discover</h2>
                        <p class="leading-6 text-gray-900 text-xl max-w-sm">FInd and browse any information without being tracked or logged.</p>
                </div>
            </div>

            <div class="flex flex-row flex-wrap mx-4 sm:mx-0 py-2">
                <div class="w-full md:w-2/6 mx-auto sm:mx-0">
                    <img class="mx-auto" src="/images/collaborate.png" alt="" />
                </div>
                <div class="w-full md:w-4/6 text-center md:text-left md:pl-2 justify-center">
                        <h2 class="uppercase text-5xl">Collaborate</h2>
                        <p class="leading-6 text-gray-900 text-xl max-w-sm">Work with your friends, family or collegues or projects or tasks together.</p>
                </div>
            </div>

            <div class="flex flex-row flex-wrap mx-4 sm:mx-0 py-2">
                <div class="w-full md:w-2/6 mx-auto sm:mx-0">
                    <img class="mx-auto" src="/images/develop.png" alt="" />
                </div>
                <div class="w-full md:w-4/6 text-center md:text-left md:pl-2 justify-center">
                        <h2 class="uppercase text-5xl">Develop & Expand</h2>
                        <p class="leading-6 text-gray-900 text-xl max-w-sm">Develop more tools or decentralized applications for the FreeFlow Grid.</p>
                </div>
            </div>
        </div>   
</div>