<style>
    .bg_earn2 {
        background-color: #f0ece8;
    }

    .bg-boxs {
        background-color: #F7F4F1;
    }
</style>
<div class="relative px-4 sm:px-6 lg:pb-28 lg:px-8 bg_earn2">
    <div class="relative max-w-7xl mx-auto">
        <div class="grid gap-5 max-w-lg mx-auto lg:grid-cols-3 lg:max-w-none">

            <div class="flex flex-col pb-10 rounded-lg shadow-lg overflow-hidden bg-boxs">
                <div class="flex-shrink-0">
                    <img class="mx-auto object-cover" src="/images/own_data.png" alt="" />
                </div>
                <div class="flex-1 p-6 flex flex-col justify-between text-center">
                    <div class="flex-1">
                        <h2 class="uppercase">fully own<br> your data</h2>
                        <div class="mt-3 leading-6 text-gray-900 text-2xl max-w-sm">The entirety of your data belogs to you instead of company or service-provider.</div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col pb-10 rounded-lg shadow-lg overflow-hidden bg-boxs">
                <div class="flex-shrink-0">
                    <img class="mx-auto object-cover" src="/images/own_identy.png" alt="" />
                </div>
                <div class="flex-1 p-6 flex flex-col justify-between text-center">
                    <div class="flex-1">
                        <h2 class="uppercase">unbeatable<br> privacy</h2>
                        <div class="mt-3 leading-6 text-gray-900 text-2xl max-w-sm">Only you have control of your data and decide who has access to it. Forever.</div>
                    </div>
                </div>
            </div>


            <div class="flex flex-col pb-10 rounded-lg shadow-lg overflow-hidden bg-boxs">
                <div class="flex-shrink-0">
                    <img class="mx-auto object-cover" src="/images/endless.png" alt="" />
                </div>
                <div class="flex-1 p-6 flex flex-col justify-between text-center">
                    <div class="flex-1">
                        <h2 class="uppercase">zero<br> manipulation</h2>
                        <div class="mt-3 leading-6 text-gray-900 text-2xl max-w-sm">Your data can never be used for financial or commercial gains by anyone.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>