<li class="px-4 py-4 sm:px-6 lg:px-8">
    <div class="flex items-center gap-x-3">
      <h3 class="flex-auto truncate text-sm font-semibold leading-6 text-white">@{event.commit.committer}</h3>
      <time datetime="2023-01-23T11:00" class="flex-none text-xs text-zinc-600">@{event.commit.time.relative_short()}</time>
    </div>
    <p class="mt-3 truncate text-sm text-white">@{event.commit.message}</p>
    <p class="mt-3 truncate text-sm text-zinc-500">@{event_action} to <span class="text-zinc-400">@{event_receiver}</span></p>
    <p class="mt-1 truncate text-sm text-zinc-500"><span class="font-mono text-zinc-400">@{event_sub_1}</span> on <span class="text-zinc-400">@{repository.branch}</span></p>
  </li>