{% extends "_default/base.html" %}
<!-- blog template
the template for displaying the blog page.
consists of a featured blog row, 
a paginated list of posts (sorted by date), 
and a side nav for category and featured post navigation
-->

{% block content %}

<main>

    <!--sets global featured variable as the most recent post with the isFeatured tag-->
    {%- set section = get_section(path="blog/_index.md") %}
    {% for page in section.pages %}
    {% if page.extra.isFeatured %}
        {%- set_global featured = page %}
        {% break %}
    {% endif %}
    {% endfor %}
    
    {% include "partials/featuredBlog.html" %}

    <div class="flex flex-col md:flex-row container mx-auto">
        {% include "partials/blogPosts.html" %}
        {% include "partials/blogSidebar.html" %}
    </div>
 </main> 
 
 {% endblock content %}
