module circles

import freeflowuniverse.crystallib.core.playbook
import freeflowuniverse.crystallib.data.params 

__global (
	@{model_param.name}_actors map[string]shared @{model_param.typ.symbol}Actor
)

@{actor_struct}

@{handler}

@for method in methods
@{method}
@end