<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@{doc.title}</title>
        <link rel="stylesheet" href="/static/css/pico_classless.css" />
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <link rel="stylesheet" href="/static/css/heroweb.css" />
    </head>
    <body>
        <textarea id="markdown-nav" style="display: none">@{doc.markdown.nav}</textarea>
        <textarea id="markdown-input" style="display: none">@{doc.markdown.content}</textarea>
        <nav>
            <ul>
                @for item in doc.navbar.items
                <li><a href="@{item.href}" class="@{item.class_name}">@{item.text}</a></li>
                @end
                <navbar-right>
                    <input type="search" name="search" placeholder="Search..." />
                    <a href="#login">Login</a>
                    <div id="theme-switcher-icons"></div>
                </navbar-right>
            </ul>
        </nav>
        <main class="container">
            <mynav id="mynav"></mynav>
            <article id="markdown-output"></article>
            <docnav>
                <br />
                <h5>@{doc.markdown.title}</h5>
                <ul id="content-pointers"></ul>
            </docnav>
        </main>
        @js '/static/js/heroweb.js'
    </body>
</html>