<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@{doc.title}</title>
        <link rel="stylesheet" href="/static/css/pico_classless.css" />
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <style>
            body > main {
                padding: 4rem 6rem;
            }
            h2 {
                margin-top: 2rem;
            }
        </style>
    </head>
   
    <body>
        <main class="container">
            <section>
                @{doc.content.html() or {''}}
            </section>
            
            <section>
                <form action="/register" method="POST">
                    <fieldset role="group">
                      <input name="email" type="email" placeholder="Enter your email" autocomplete="email" />
                      <input type="submit" value="Login" />
                    </fieldset>
                  </form>
            </section>
        </main>

        @js '/static/js/heroweb.js'
    </body>
</html>