<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@picocss/pico@@2/css/pico.min.css">
    <style>
        body > main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 100vh;
            max-width: 400px;
            margin: 0 auto;
            padding: 0 var(--spacing);
        }
    </style>
</head>
<body>
    <main>
        <article>
            <h2>Login</h2>
            <form action="/register" method="POST">
                <label for="email">
                    Use your Email to Register or Login.
                    <input type="email" id="email" name="email" placeholder="Enter your email" required>
                </label>
                <button type="submit">Log In</button>
            </form>
        </article>
    </main>
</body>
</html>