{% extends "index.html" %}

{% block content %}

<!-- Default page template for blog posts and basic informative markdown files -->
<main>

{% set banner_path = config.extra.taxonomies["roles"][term.name].banner_path | as_str %}
{% set styles = "background: url('/" ~ banner_path ~ "'); background-size: cover; background-position: center"  %}

<div class="w-screen -mx-8 sm:-mx-12 md:-mx-16 lg:-mx-20 -mt-6 max-w-none py-28 max-h-80" style="{{styles}}"></div>
<div class="flex flex-col lg:flex-row md:mx-4 lg:mx-6">
    <article class="article mx-auto lg:w-1/2 lg:mr-8 lg:mt-10">
        <div class="pt-8 lg:pt-8 2xl:pt-24">
            <h3 class="text-2xl font-normal my-0 text-gray-600">Our World</h3>
            <h1 class="text-left font-normal my-2 font-medium">
                {{ config.extra.taxonomies["roles"][term.name].title }} 
            </h1>
            <p class="my-4">{{config.extra.taxonomies["roles"][term.name].description}}</p>
        </div>
        <hr />
        <h3 class="text-black text-lg">{{term.name}} @ Ourworld</h3>
        {% for page in term.pages %}
            {% include "partials/pageBox.html"%}
        {% endfor %}
    </article>
    <div class="mx-auto lg:mt-12">
        {% include "partials/applicationForm.html"%}
    </div>
</div>
    
</div>
</main>

{% endblock content %}