{% extends "_default/base.html" %}
{% block content %}

<div class="container sm:pxi-0 mx-auto overflow-x-hidden pt-16 lg:w-4/6">
  <div class="flex flex-row flex-wrap items-center mx-4 sm:mx-0">
    <div class="w-full md:w-1/6 mx-auto sm:mx-0">
      <img src="{{page.extra.partner_logo}}" class="
            rounded-full
            bg-gray-200
            w-32
            h-32
            border-4 border-gray-400
            mx-auto
            md:mx-0
          " />
    </div>
    <div class="w-full md:w-5/6 text-center md:text-left md:pl-8 lg:pl-0">
      <h1 class="pb-0 mb-0 mt-0 text-4xl font-medium">
        {{ page.title }}
      </h1>

      <div class="avatars">
        <section class="container mx-auto py-2">
          <ul class="list-none flex author-list my-2 px-0">
            {% if page.extra.websites %}
            <li class="mr-2">
              <a href="{{page.extra.websites}}" target="_blank" rel="noopener noreferrer"
                class="text-gray-400 hover:text-black linkedin_size mx-1">
                <i class="fa-solid fa-globe fa-2x"></i> </a>
            </li>
            {% endif %}
            {% if page.extra.linkedin %}
            <li>
              <a href="{{page.extra.linkedin}}" target="_blank" rel="noopener noreferrer"
                class="text-gray-400 hover:text-black linkedin_size mx-1">
                <i class="fa-brands fa-linkedin fa-2x"></i> </a>
            </li>
            {% endif %}
          </ul>
          {% for tag in page.taxonomies.tags %}
          <a href="{{'/tags/' ~ tag}}" class="border-1 font-light text-xs bg-transparent hover:text-blue-700 py-2 px-4 mr-2 border hover:border-blue-500 border-gray-600 text-gray-700 rounded-full ">
              {{tag}}
          </a>
      {% endfor %}
        </section>
      </div>
    </div>
  </div>

  <div class="pt-8 border-b mx-4 sm:-mx-4"></div>

  <section class="post-content container mx-auto relative text-gray-700">
    <div class="post-content-text text-xl">{{ page.content | safe }}</div>
  </section>
</div>

{% endblock content %}