{% block content %}

<div class="text-center main-title px-0 md:w-2/3 lg:w-2/3 mx-8 md:mx-12">
  <h1
    class="tracking-tight text-left text-2xl md:text-4xl lg:text-5xl fw-500 leading-snug font-normal mb-10"
  >
  {% set path_array = current_path | split(pat="/") %}
  {% set taxonomy = path_array[1] %}
  {% set category = path_array[2] %}
    The Latest from Ourworld Free Zone  
    {% if taxonomy == "categories" %} - 
        {{category | replace(from='-', to=' ' ) | title}}
    {% endif %}
  </h1>
  <div>
    <div class="mt-12 grid gap-5 max-w-lg mx-auto lg:grid-cols-2 xl:grid-cols-3 lg:max-w-none">
      {%- for post in paginator.pages %} 
          {% if not post.extra.hidden %}
            {% include "partials/postCard.html" %} 
         {%endif%} {%- endfor %}
    </div>
    <hr class="mt-6" />
    <p class="text-center text-sm mt-2 mb-16">
      {% if paginator.previous %}
      <a
        class="border-transparent"
        aria-label="First page"
        href="{{ paginator.first }}"
        >{% include "partials/icons/svgPrevPageIcon.html" %}{% include
        "partials/icons/svgPrevPageIcon.html" %}</a
      >
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a
        class="border-transparent"
        aria-label="Previous page"
        href="{{ paginator.previous }}"
        >{% include "partials/icons/svgPrevPageIcon.html" %}</a
      >
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% else %} {%
      include "partials/icons/svgFirstPageIcon.html" %}{% include
      "partials/icons/svgFirstPageIcon.html" %}
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% include
      "partials/icons/svgFirstPageIcon.html" %}
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% endif %} {% if
      paginator.next %}
      <a
        class="border-transparent"
        aria-label="Next page"
        href="{{ paginator.next }}"
        >{% include "partials/icons/svgNextPageIcon.html" %}</a
      >
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a
        class="border-transparent"
        aria-label="Last page"
        href="{{ paginator.last }}"
        >{% include "partials/icons/svgNextPageIcon.html" %}{% include
        "partials/icons/svgNextPageIcon.html" %}</a
      >
      {% else %} {% include "partials/icons/svgLastPageIcon.html" %}
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% include
      "partials/icons/svgLastPageIcon.html" %}{% include
      "partials/icons/svgLastPageIcon.html" %} {% endif %}
    </p>
  </div>
</div>

{% endblock content %}