<!--
  Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
  Read the documentation to get started: https://tailwindui.com/documentation
-->

{%- set section = get_section(path="footer/_index.md") %}
{%- set logoPath = section.extra.logoPath %}

<html>
    <head /><body>
        <div class="mt-6 border-t border-gray-200 pt-2"></div>
        <footer class="bg-white">
          <div class="max-w-screen-2xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
            <div class="xl:flex xl:gap-4 items-center">
              <div class="space-y-8 lg:max-w-sm xl:max-w-sm lg:mr-8 lg:mb-8 xl:col-span-1">
                <img class="w-40 h-auto sm:w-15 mx-auto" src="{{ get_url(path=logoPath)}}" alt="Ourworld Freezone Logo" />
                <p class="text-gray-500 text-base leading-6 ">
                  {{section.description}}
                </p>
                {% include "partials/socialLinks.html" %}
            </div>

            <div class="mt-6 lg:mt-0 w-full px-8 sm:px-12 md:px-16 lg:px-20 footer-cust">
                {{ section.content | safe }}
            </div>
              
              </div>
              <div  class="mt-12 mx-auto border-t border-gray-200 pt-8">
                <p data-v-14efe4a7="" class="text-base leading-6 text-gray-400 text-center">
                © 2023 Flowers 4 Peace, All rights reserved.
              </div>
    
            </div>
            
          </div>


          
        </footer>
        </body>
        </html>
        