<!--
  Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
  Read the documentation to get started: https://tailwindui.com/documentation
--><!-- This example requires Tailwind CSS v1.4.0+ -->


<!-- set variables used for header template -->
{% set section = get_section(path="_index.md") %}
{% set subsections_str = section.subsections | join(sep=" ") %}
{% set logo_path = get_url(path=section.extra.logo_path | default(value='')) %}

{% if "header/_index.md" in subsections_str %}
    {% set section = get_section(path="header/_index.md") %}
    {% set header_items = section.content | safe | split(pat="<li>") %}
    {% include "partials/header_custom.html" %}
{% else %}
    <header id="header-container">
        {% set header_class = config.extra.header_class | default(value='') %}
        <div class="{{'z-10 bg-white fixed w-screen max-w-full ' ~ header_class}}">
            <div class="relative z-50 shadow">
            <div class="mx-auto flex z-50 shadow justify-between items-center pl-6 pr-2 md:pr-0 lg:py-5  md:px-12 py-2 lg:px-20 lg:justify-start lg:space-x-20">
                <div>
                    <a href="/" class="flex">
                        <img class="h-auto sm:w-15" src="{{logo_path}}" alt="Logo" />
                    </a>
                </div>
                <div class="-mr-2 -my-2 lg:hidden">
                    <button id="hamburger-btn" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out my-2">
                        <!-- Heroicon name: menu -->
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </button>
                <button id="close-hamburger-btn" type="button" class="hidden lg:hidden inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out my-2">
                    <!-- Heroicon name: x -->
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                    </button>
                </div>
                <div class="hidden lg:flex-1 lg:flex lg:items-center lg:justify-end lg:space-x-12">
                    <nav class="flex space-x-10">    
                    {% for page in section.pages %}
                    {% if page.extra.menu %} {% continue %} {% endif %}
                        <a href="{{page.permalink}}" class="text-lg leading-6 text-gray-900 focus:outline-none focus:text-gray-900 transition ease-in-out duration-150 mt-0">
                            {{page.title}}
                        </a>
                        <div class="relative">
                        </div>
                    {% endfor %}
                    {% for subsection in section.subsections %}
                        {% if subsection == "footer/_index.md" %} {% continue %} {% endif %}                        
                        {% set button_id = subsection ~ "-menu-btn" | slugify %}
                        <div class="relative">
                        <button type="button" id="{{button_id}}" class="nav_btn text-gray-900 group inline-flex items-center space-x-2 text-lg leading-6 hover:text-blue-300 focus:outline-none transition ease-in-out duration-150">
                            <span>{{ subsection }}</span>
                            <div class="-rotate-90 transition-transform"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/></svg></div>
                        </button>
                        </div>
                    {% endfor %}
                    </nav>
                </div>
            </div>
        </div>
    {% for subsection in section.subsections %}
        {% if subsection == "footer/_index.md" %} {% continue %} {% endif %}        
        {% set submenu_id = subsection ~ "-menu" | slugify %}
    <nav>
        <div id="{{submenu_id}}" class="mt-16 sm:mt-0 md:mt-0 lg:mt-0 xl:mt-0 2xl:mt-0 z-30 absolute inset-x-0 transform shadow-lg lg:backdrop-blur xl:backdrop-blur transition duration-200 ease-in opacity-0 -translate-y-1 hidden">
            <div class="bg-white lg:bg-semi-white md:bg-semi-white xl:bg-semi-white">
                <div class="mx-8 lg:mx-20 xl:mx-20 px-6 py-4 sm:p-6 md:p-8 lg:p-12 xl:p-12">
                {{subsection | safe }}
                </div>
            </div>            
            </div>
        </nav>
    
    
    {% endfor %}
    
        
            <!--
            Mobile menu, show/hide based on mobile menu state.
        
            Entering: "duration-200 ease-out"
                From: "opacity-0 scale-95"
                To: "opacity-100 scale-100"
            Leaving: "duration-100 ease-in"
                From: "opacity-100 scale-100"
                To: "opacity-0 scale-95"
            -->
        <div id="hamburger" class="hidden fixed mt-16 z-20 inset-x-0 transition transform origin-top-right lg:hidden">
            <div>
                <div class="shadow-xs h-screen bg-white divide-y-2 divide-gray-50">
                    <div class="pt-6 sm:px-12 md:px-16 lg:px-20 space-y-6 sm:space-y-8 sm:pb-8 max-h-screen overflow-y-auto">
    
                        <nav class="flex flex-col justify-around pb-12">
                        {% for page in section.pages %}
                            {% if page.relative_path == "home/index.md" %} {% continue %} {% endif %}
                            {% if page.extra.menu %} {% continue %} {% endif %}
                            <a href="{{page.permalink}}" class="text-lg px-8 py-3 leading-6 font-normal text-gray-900 hover:text-gray-900 focus:outline-none focus:text-gray-900 transition ease-in-out duration-150">
                                {{page.title}}
                            </a>
                            <hr/>
                        {% endfor %}
                        {% for subsection in section.subsections %}
                            {% if subsection == "footer/_index.md" %} {% continue %} {% endif %}
                            {% set button_id = subsection ~ "-mobile-menu-btn" | slugify %}
                            {% set menu_id = subsection ~ "-mobile-menu" | slugify %}

                            <button type="button" id="{{button_id}}" class="flex flex px-8 py-3 items-start text-left text-gray-900 group inline-flex space-x-2 text-lg leading-6 font-normal hover:text-gray-900 focus:outline-none focus:text-gray-900 transition ease-in-out duration-150">
                                <span>{{ subsection }}</span>
                                <div class="-rotate-90 transition-transform"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/></svg></div>
                            </button>

                            <div id="{{menu_id}}" class="z-50 leading-3 pl-12 pt-6 pb-4 inset-x-0 text-sm transform duration-200 ease-in opacity-0 -translate-y-1 hidden">
                                {{ subsection | safe }}
                            </div>
                        
                        {% endfor %}
                        </nav>                    
                    </div>
                
            </div>
            
            </div>
        </div>
    
    
    </header>
    
{% endif %}


