<div class="flex space-x-6 items-center justify-center">
    {% for key, link in section.extra.socialLinks %}

        <a href="{{link}}" target="_blank" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">{{key}}</span>
        {% if key == "Facebook" %}
        {% include "partials/icons/svgFacebookIcon.html" %}
        {% elif key == "Github" %}
        {% include "partials/icons/svgGithubIcon.html" %}
        {% elif key == "Instagram" %}
        {% include "partials/icons/svgInstagramIcon.html" %}
        {% elif key == "Twitter" %}
        {% include "partials/icons/svgTwitterIcon.html" %}
        {% elif key == "Dribbble" %}
        {% include "partials/icons/svgDribbbleIcon.html" %}
        {% elif key == "Telegram" %}
        {% include "partials/icons/svgTelegram.html" %}
        {% endif %}
        </a>

    {% endfor %}

  </div>