<!DOCTYPE html>
<html lang="en">
<head>
    @include '../structure/head.html'
    <title>${page_title}</title>
</head>

<body class="bg-gray-100 text-gray-800">
<h1 class="title text-3xl font-bold text-center my-6">Hello,</h1>
@for var in list_of_object
<div  class="max-w-md mx-auto">
<a  class="text-blue-600 hover:text-blue-800 font-semibold" href="${v_url}">${var.title}</a>
<span class="block text-gray-600 mt-2">${var.description}</span>
</div>
@end
<br>
<div>@include '../components/component.html'</div>
</body>
</html>

