




{
    email kristof@incubaid.com
    # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
    # debug
}

files.play.refit.earth {
	file_server browse
}

office.play.refit.earth {
    reverse_proxy http://localhost:7000
}